/dev/hi_adec 0666    system  audio
/dev/hi_ca 0666    system  audio
/dev/hi_adsp 0660    system  audio
/dev/hi_aenc 0660    system  audio
/dev/hi_ai   0660    system  audio
/dev/hi_ao   0666    system  audio
/dev/hi_cipher   0666    system  audio
/dev/hi_demux    0666    system  audio
/dev/hi_disp 0666    system  audio
/dev/hi_gfx2d    0660    system  graphics
/dev/hi_gpio 0660    system  system
/dev/hi_hdmi 0660    system  system
/dev/hi_i2c  0666    system  system
/dev/hi_ir   0660    system  input
/dev/hi_jpge 0660    system  graphics
/dev/hi_keyled   0660    system  input
/dev/hi_log  0666    system  audio
/dev/hi_mce  0660    system  system
/dev/hi_mem  0666    system  audio
/dev/hi_module   0666    system  audio
/dev/hi_omxvdec  0660    system  audio
/dev/hi_otp  0666    system  system
/dev/hi_pdm  0666    system  graphics
/dev/hi_pm   0666    system  audio
/dev/hi_png  0666    system  graphics
/dev/hi_pq   0666    system  graphics
/dev/hi_pvr  0660    system  audio
/dev/hi_pwm  0660    system  system
/dev/hi_sci  0660    system  system
/dev/hi_sethdcp  0660    system  system
/dev/hi_stat 0666    system  audio
/dev/hi_svdec    0660    system  audio
/dev/hi_sync 0666    system  audio
/dev/hi_sys  0666    system  audio
/dev/hi_tde  0666    system  graphics
/dev/hi_tuner    0666    system  audio
/dev/hi_userproc 0666    system  audio
/dev/hi_vdec 0666    system  audio
/dev/hi_venc 0660    system  audio
/dev/hi_vi   0660    system  audio
/dev/hi_vo   0666    system  audio
/dev/hi_vpss 0666    system  audio
/dev/hi_wdg  0660    system  system
/dev/hi_vpu  0660    system  audio
/dev/jpeg    0666    system  graphics
/dev/vinput  0660    system  input
/dev/mmz_userdev 0666    system  audio
/dev/graphics/fb*    0660    system  graphics
/dev/mem    0660    system  audio
/dev/video*  0660    system  camera
/dev/ion     0666    system  system
/dev/mali*    0666    system  graphics
#for Bluetooth USB driver
/dev/btusb0   0660   bluetooth  bluetooth
/dev/uhid     0660    bluetooth  bluetooth
/dev/bt_usb*  0660    bluetooth  bluetooth
/dev/rtk_btusb 0660   bluetooth     net_bt_stack
